<div>
  <%= flash[:notice] %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>User info</h1>
        <div class="text-center">
          <%= image_tag @user1.get_profile_image(150, 150), class: "img-thumbnail mb-2" %>
        </div>
        <hr>
        <p><strong>name</strong>: <span class="float-right"><%= @user1.name %></span></p>
        <hr>
        <p><strong>introduction</strong>: <span class="float-right"><%= @user1.introduction %></span></p>
        <%= link_to edit_user_path(@user1.id), class: "btn btn-primary btn-block mt-3" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>

      <h1 class="mt-4">New book</h1>
        <%= form_with model: @booknew do |f| %>
          <div class="form-group">
            <h4>Title</h4>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <h4>Opinion</h4>
            <%= f.text_area :body, class: "form-control" %>
          </div>
          <%= f.submit 'Create Book', class: "btn btn-success btn-block" %>
        <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user.id), class: "btn btn-block card" do %>
                  <%= image_tag book.user.get_profile_image(100, 100), class: "img-thumbnail" %>
                <% end %>
              </td>
              <td>
                <%= link_to book.title, book_path(book.id), class: "text-decoration-none text-primary" %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% @books.each do |book| %>
        <!-- Book Detail Section -->
        <div class="mt-3">
          <% if book.favorited_by?(current_user) %>
            <%= link_to book_favorite_path(book), method: :delete, class: "text-decoration-none" do %>
              <i class="fas fa-heart"></i>
              <span class="text-danger"><%= book.favorites.count %></span>
            <% end %>
          <% else %>
            <%= link_to book_favorite_path(book), method: :post, class: "text-decoration-none" do %>
              <i class="fas fa-heart"></i>
              <span class="text-primary"><%= book.favorites.count %></span>
            <% end %>
          <% end %>
        </div>

        <div class="mt-3">
          <p>コメント件数：<%= book.book_comments.count %></p>
        </div>

        <% book.book_comments.each do |book_comment| %>
          <div class="d-flex mb-4 border-bottom pb-2">
            <div class="mr-3 text-center">
              <%= image_tag book_comment.user.get_profile_image(50, 50), class: "img-thumbnail mb-1" %>
              <p class="mb-0"><strong><%= book_comment.user.name %></strong></p>
            </div>
            <div>
              <p class="mb-1"><%= book_comment.comment %></p>
              <% if book_comment.user == current_user %>
                <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-danger btn-sm" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="mt-4">
          <%= form_with model: [book, BookComment.new] do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, rows: '3', class: "form-control" %>
            </div>
            <%= f.submit "送信する", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
