<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-left mb-4">Editing Book</h2>
      <% if @book.errors.any? %>
          <%= @book.errors.count %>errors prohibited this obj from being saved:
      <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
<% end %>
      <%= form_with model: @book do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title, id: "book_title", class: "form-control" %>
          <h4>Opinion</h4>
          <%= f.text_area :body, id: "book_body", class: "form-control" %>
        
        <div class="text-left mt-4">
          <%= f.submit "Update Book", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
      
      <div class="text-left">
        <%= link_to "Show", book_path(@book.id), class: "btn btn-link text-primary" %> |
        <%= link_to "Back", books_path, class: "btn btn-link text-primary" %>
      </div>
    </div>
  </div>
</div>